<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">

<title>Clientes</title>

</head>

<body>
	
		<h2>Buscador</h2>

		<div th:classappend="'alert-' + (${clase != null} ? ${clase} : info)"
			th:if="${mensaje != null}" th:text="${mensaje}">
		</div>

		<!-- Formulario para buscar un objeto cliente en la base de datos-->

		<form th:object="${client.name}"
			th:action="@{/client/buscar}" method="post">			<!-- Input Nombre-->
			<div>
				<label for="name">Nombre:</label> <input th:field="*{name}"
					id="name" placeholder="Escriba su nombre" type="text"
					th:classappend="${#fields.hasErrors('name')} ? 'is-invalid' : ''">
				<div th:errors="*{name}"></div>
			</div>			
			<button type="submit">Guardar</button>
			<a th:href="@{/client/mostrar}">Ver todos</a>
		</form>
	
</body>
</html>